<div class="container">
    <h2>Welcome to Website Praktikum Teknik Telkomunikasi</h2>
    <a href="https://ibb.co/9WGXZ39"><img src="https://i.ibb.co/DQLXrgD/radar.jpg" alt="radar" border="0"></a>
</div>

<style>
    h2{
        text-align: center;
    }

    .container img{
        transform: translateY(0%);
        width: max-content;
        align-self: center;
        width: 1100px;
    }
</style>